@import url('https://fonts.googleapis.com/css?family=Arvo|Josefin+Sans|Poppins:400,600,700,800|Source+Sans+Pro|Assistant');

.fs-10{ font-size: 10px }
.fs-12{ font-size: 12px }
.fs-13{ font-size: 13px }
.fs-14{ font-size: 14px }
.fs-16{ font-size: 16px }
.fs-18{ font-size: 18px }
.fs-20{ font-size: 20px }
.ls-1{ letter-spacing: 1px; }
.ls-2{ letter-spacing: 2px; }

.bold{
	font-weight: bold;
}

.normal{
	font-weight: normal;
}

@font-face {
	font-family: "baron";
	src: url("fonts/BaronNeue.otf");
}

.baron {
	font-family: 'baron'!important;
}

@font-face {
	font-family: "lemonmilk";
	src: url("fonts/LemonMilk.otf");
}

.lemon-milk {
	font-family: 'lemonmilk'!important;
}

@font-face {
	font-family: "loves";
	src: url("fonts/Loves.ttf");
}

.loves {
	font-family: 'loves'!important;
}

@font-face {
	font-family: "florence";
	src: url("fonts/Florence.ttf");
}

.florence {
	font-family: 'florence'!important;
}

.open-sans{
	font-family: 'Open Sans'
}