.inline-block {
	display: inline-block;
}

.block{
	display: block;
}
.mu-10{margin-top: 10px}
.mu-15{margin-top: 15px}
.mr-30{ margin-right: 30px }
.mr-15{ margin-right: 15px }
.mr-10{ margin-right: 10px }
.mr-5{ margin-right: 5px }
.ml-5{ margin-left: 5px }
.pd-lr-15{ 
	padding-left: 15px; 
	padding-right: 15px; 
}
.pd-lr-10{ 
	padding-left: 10px; 
	padding-right: 10px; 
}

.pd-lr-5{ 
	padding-left: 5px; 
	padding-right: 5px; 
}

.pd-ud-15{
	padding-top: 15px;
	padding-bottom: 15px;
}
.pd-ud-10{
	padding-top: 10px;
	padding-bottom: 10px;
}
.pd-ud-5{
	padding-top: 5px;
	padding-bottom: 5px;
}
.m-ud-10{
	padding-top: 10px;
	padding-bottom: 10px;
}

.button-main{
	display: inline-block;
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 20px;
	box-shadow: 0 3px 20px -8px black;
	cursor: pointer;
}

.button-tight{
	display: inline-block;
	padding: 7px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
	box-shadow: 0 3px 20px -8px black;
	cursor: pointer;
}

.cursor-default{ cursor: default; }
.cursor-pointer{ cursor: pointer; }
.hover-underline:hover { text-decoration: underline }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.code{
	font-family: 'Source Code Pro';
}