:root{
	--bar-height: 40px;
	--sidenav-width: 5vw;
	--box-shadow: 0 15px 35px 0 rgba(42,51,83,.12),0 5px 15px rgba(0,0,0,.06);
	--box-shadow-light: 0 0px 10px 0 rgba(42,51,83,.03),0 5px 15px rgba(0,0,0,.03);
}

#sidenav{
	border-right: 0.5px solid #cacaca;
	height: 100vh;
	width: calc(var(--sidenav-width) - 0.5px);
	position: relative;
}

#logout{
	position: absolute;
	top: 93vh;
}

#logout i{
	transform: rotate(180deg);
}

#nav{
	width: 100%;
	position: absolute;
	top: 10vh;
}

.nav-tab, #logout, #burger{
	height: 7vh;
	width: 100%;
	text-align: center;
}

.nav-tab a , #logout a, #burger{
	color: black;
	line-height: 7vh;
	font-weight: 100;
	font-size: 0.9em;
}

#sidenav .active div{
	padding-left: 3px;
	border-right: 3px solid var(--color-4);
	font-weight: 800;
	color: var(--color-4);
	font-family: 'lemonmilk';
	letter-spacing: 2px;
}

#bar i{ color: white; }

#bar{
	padding-left: 5vw;
	padding-right: 5vw;
	width: 85vw;
	height: var(--bar-height);
	background: var(--color-1);
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: 'Josefin Sans';
}

#bar>div{
	display: inline-block;
}

#repo-user{
	margin-right: 100px;
}
#repo-user #username{
	margin-right: 2px;
	color: var(--color-4);
}	

#legends{
	flex-grow: 1;
	text-align: right;
}

#view-legends{
	position: relative;
	float: right;
	background: var(--color-2);
	box-shadow: var(--box-shadow);
	font-family: 'Raleway';
	font-size: 0.7em;
	border-radius: 2px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: default;
}

#view-legends:hover .legends{
	opacity: 1;
	display: block;
}

#view-legends .legends{
	display: none;
	opacity: 0;
	width: 35vw;
	background: rgba(222, 222, 222, 0.8);
	position: absolute;
	right: 0;
	margin-top: 10px;
	z-index: 99;
	border-radius: 3px;
	padding: 15px;
}
#view-legends .legends .drawings{
	padding: 5px;
	padding-left: 0;
	padding-right: 0;
}
#view-legends .legends>div{
	text-align: left;
	display: grid;
	grid-template-columns: 30% 30% auto;
	grid-gap: 10px;
}
#view-legends .legends .sh{
	text-transform: uppercase;
	color: var(--color-1);
}
#view-legends .legends .h{
	padding-bottom: 0;
	font-family: 'Raleway';
	font-weight: 800;
	font-size: 1.1em;
	padding-top: 10px;
	color: var(--color-1);
}

#view-legends .legends .detail{
	font-size: 0.9em;
	padding-bottom: 10px;
	font-family: 'Muli';
	color: var(--color-2);
}

#view-legends .legends .b>div{
	display: flex;
	flex-direction: column; 
}

#view-legends .legends .b>div>.two{
	display: grid;
	grid-template-columns: 50% auto;
}

#view-legends .legends .b svg{
	height: 30px;
	width: 50px;
}


#view-legends:hover{
	background: var(--color-3);
}

#page{
	left: var(--sidenav-width);
	position: fixed;
	width: calc(100vw - var(--sidenav-width));
	height: 100vh;
	display: inline-block;
	background: var(--color-lb);
}

#main{
	position: relative;
	height: calc(100% - var(--bar-height));
	overflow: auto;
}

#main::-webkit-scrollbar-track{
	background-color: white;
}

#main::-webkit-scrollbar{
	width: 10px;
	background-color: white;
}

#main::-webkit-scrollbar-thumb{
	background: var(--color-4);
}

.legend-line{
	stroke: black;
	stroke-width: 2.5px;
}

#pull-req .pull{
	stroke-linecap: round;
	stroke-dasharray: 2, 5;
}

#done-regular .commit-halo, #done-merge .commit-halo{
	stroke-width: 0;
}