:root{
	--bar-height: 40px;
	--sidenav-width: 5vw;
	--box-shadow: 0 15px 35px 0 rgba(42,51,83,.12),0 5px 15px rgba(0,0,0,.06);
	--box-shadow-light: 0 0px 10px 0 rgba(42,51,83,.03),0 5px 15px rgba(0,0,0,.03);
}

#sidenav{
	border-right: 0.5px solid #cacaca;
	/*background: blue;*/
	/*z-index: 2;*/
	height: 100vh;
	width: calc(var(--sidenav-width) - 0.5px);
	position: relative;
}

#burger{
	top: 0;
}

#logout{
	position: absolute;
	top: 93vh;
}

#nav{
	width: 100%;
	position: absolute;
	top: 10vh;
}

.nav-tab, #logout, #burger{
	height: 7vh;
	width: 100%;
	text-align: center;
}

.nav-tab a , #logout a, #burger{
	color: black;
	line-height: 7vh;
	font-weight: 100;
	font-size: 0.9em;
}

#sidenav .active div{
	padding-left: 3px;
	border-right: 3px solid var(--color-4);
	font-weight: 800;
	color: var(--color-4);
	font-family: 'lemonmilk';
	letter-spacing: 2px;
}

#bar i{ color: white; }

#bar{
	padding-left: 15px;
	padding-right: 15px;
	width: calc(95vw - 30px);
	height: var(--bar-height);
	background: var(--color-1);
	display: table-cell;
	vertical-align: middle;
	font-family: 'Josefin Sans';
}

#bar>div{
	display: inline-block;
}

#repo-user{
	margin-right: 100px;
}
#repo-user #username{
	margin-right: 2px;
	color: var(--color-4);
}	

#page{
	left: var(--sidenav-width);
	position: fixed;
	width: calc(100vw - var(--sidenav-width));
	height: 100vh;
	display: inline-block;
}
