:root{
	--network-height: 55vh;
}

#network-tab{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#network-graph-wrapper{
	width: calc(100vw - var(--sidenav-width));
	height: calc(var(--network-height) - var(--bar-height));
	background: white;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

#graph-loader{
	opacity: 0;
	border-radius: 50%;
	box-shadow: var(--box-shadow);
	position: absolute;
	background: var(--color-3);
	top: 15px;
	left: calc(50% - 15px);
	padding: 7px;
	padding-bottom: 6px;
	font-size: 18px;
	color: var(--color-dg);
	transition: opacity 1s;
}

#network-graph{
	width: 100%;
	cursor: move;
	position: absolute;
	top: 0;
}

#clicked{
	fill: var(--color-4);
	fill-opacity: 0.2;
}

#network-graph:focus{
	outline: none;
}

/* Canvas Elements */

#incomplete{
	fill: var(--color-3);
}

.commit-node{
	stroke-width: 3.5px;
	/*fill: white;*/
	cursor: default;
}

.connection{
	stroke-width: 2.5px;
}

.pull-req{
	stroke-linecap: round;
	stroke-dasharray: 3, 5;
	stroke-width: 1.5px;
}

.connection-border{
	stroke-width: 3px;
}


#timeline line{
	stroke: lightgray;
	opacity: 0.5;
	stroke-width: 1px;
}

#timeline text{
	fill: var(--color-2);
}

.commit-halo{
	fill-opacity: 0.5;
	stroke-opacity: 0.2;
	stroke-width: 3;
}

.commit-halo.has-done{
	fill-opacity: 0.0;
	/*stroke-opacity: 0.5;*/
}