:root{
	--network-height: 55vh;
}

#network-tab{
}

#network-graph-wrapper{
	width: 95vw;
	height: calc(var(--network-height) - var(--bar-height));
	background: white;
	display: table-cell;
	vertical-align: middle;
}

#network-left{
	display: inline-block;
	width: 84vw;
}

#network-right{
	position: absolute;
	border-left: 0.5px #cacaca solid;
	/*background: blue;*/
	float: right;
	top: 0;
	padding-top: 60px;
	height: 100vh;
	left: 84vw;
	width:16vw;
}

#default-network-right{
	/*visibility: hidden;*/
}

#issue-viewer{
	display: none;
}

#network-tools{
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #dbedf3;
	border-bottom: 1px #cacaca solid;
}

#network-tools div {
	display: inline-block;
}

#network-graph{
}

#network-graph:focus{
	outline: none;
}

.commit-node{
	fill: black;
}

.connection{
	stroke-width: 3px;
	/*fill: transparent;*/
}

#commit-box-wrapper{
	border-top: 0.5px #cacaca solid;
	opacity: 1;
	display: inline-block;
	width: 95vw;
	height: calc(100vh - var(--network-height));
	background: #faf9f9;
	z-index: 99;
}

#commit-box{
	padding: 20px;
}

#cb-message{
	color: #1d2323;
	font-family: "Open Sans";
	/*font-weight: bold;*/
}

#sidenav .header {
	background: #ebebeb
}

#sidenav{
	width: 14vw;
	height: 100vh;
	background: #faf9f9;
	/*background: #e0e0ec;*/
	display: inline-block;
	position: fixed;
	z-index: 100;
	border-right: 0.5px #cacaca solid;

}

#search-bar{
	margin: 0;
	height: 30px;
	background: white;
	border-radius: 20px;
	border: 1px solid #dfe1e5;
	/*pad*/
}

#search-bar i{
	line-height: 28px;
	width: 10%;
}

#search-input{
	line-height: 25px;
	outline: none;
	border: none;
	width: 90%;
}