:root{
	--network-height: 55vh;
}

#network-tab{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#network-graph-wrapper{
	width: calc(100vw - var(--sidenav-width));
	height: calc(var(--network-height) - var(--bar-height));
	background: white;
	display: table-cell;
	vertical-align: middle;
}

#network-graph{
	width: 100%;
	cursor: move;
}

#network-graph:focus{
	outline: none;
}

/* Canvas Elements */

.commit-node{
	stroke-width: 3.5px;
	fill: white;
	cursor: default;
}

.connection{
	stroke-width: 2.5px;
}

.pull-req{
	stroke-linecap: round;
	stroke-dasharray: 3, 5;
	stroke-width: 1.5px;
}

.connection-border{
	stroke-width: 3px;
}


#timeline line{
	stroke: lightgray;
	opacity: 0.5;
	stroke-width: 1px;
}

#timeline text{
	fill: var(--color-2);
}