#row-2{
	padding-top: 10px; 
	display: grid;
	grid-template-columns: 200px auto 35%;
	grid-template-rows: calc(60vh - var(--bar-height) - 60px);
	grid-gap: 10px;
}

.info{
	padding: 5px;
	border-radius: 4px;
	background: rgba(255,255,255,0.5);
	display: grid;
	grid-template-columns: auto 30px;
	margin-bottom: 5px;
}
#repo-info>div>div>div{
	display: inline-block;
}

#repo-info .heading{
	box-shadow: 0 2px 2px rgba(40, 49, 73, 0.2);
	color: white;
	font-weight: 600;
	font-family: 'Quicksand';
	font-size: 10px;
	letter-spacing: 0.5px;
	background: var(--color-2);
	width: 30px;
	height: 30px;
	display: grid;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#repo-info .sub{
	display: grid;
	align-items: center;
	margin-left: 5px;
	color: white;
	color: var(--color-dg);
	font-family: 'Source Sans Pro';
	font-size: 13px;
}

#issues-donut{
	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-rows: 100%;
	box-shadow: var(--box-shadow-light);
	border-radius: 4px;
	overflow: hidden;
}

#issues-donut .graph{
	background: white;
	display: flex;
  	justify-content: center;
  	align-items: center;	
}

#labels-list-container{
	background: var(--color-lg);
	display: flex;
	flex-direction: column;
}

#issues-donut .graph-title, #milestones .graph-title{
	padding: 10px;
	padding-bottom: 8px;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	font-weight: 700;
}

#labels-list, #milestones-list{
	flex-grow: 1;
	overflow-y: auto;
	padding: 10px;
	padding-top: 0;
}

#labels-list::-webkit-scrollbar-track, #milestones-list::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: var(--color-3);
}

#labels-list::-webkit-scrollbar, #milestones-list::-webkit-scrollbar{
	width: 7px;
	background-color: var(--color-lb);
}

#labels-list::-webkit-scrollbar-thumb, #milestones-list::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: var(--color-2);
}

.stats-label{
	border-radius: 4px;
	border: 0.5px solid rgba(202,202,202,0.5);
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
	font-family: 'Source Sans Pro';
	font-size: 11px;
	line-height: 11px;
	font-weight: 600;
	background: white;
	display: grid;
	grid-template-columns: 8px auto 30px;
	grid-gap: 10px;
}

.stats-label .color-container, .label-count{
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.stats-label .color{
	width: 8px;
	height: 8px;
	border-radius: 20px;
}

.label-count{
	color: var(--color-1);
	font-family: 'Poppins';
	font-size: 9px;
}

#issus-donut svg{
	z-index: 2;
}

#label-donut-text{
	width: calc(100% - 240px);
	text-align: center;
	position: absolute;
	font-size: 12px;
	font-weight: 600;
}

#label-donut-text .name{
	font-family: 'Quicksand';
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
	color: var(--color-1);
}

#label-donut-text .number{
	font-family: 'Josefin Sans';
	font-size: 2em;
	margin-top: 5px;
	color: var(--color-2);
}

/*MILESTONES*/
#milestones{
	display: flex;
	flex-direction: column;
	background: var(--color-lg);
	box-shadow: var(--box-shadow-light);
	border-radius: 4px;
}

.milestone{
	display: grid;
	grid-template-columns: auto 50px 50px;
	border-radius: 4px;
	border: 0.5px solid rgba(202,202,202,0.5);
	margin-bottom: 5px;
	background: white;
	font-family: 'Quicksand';
	font-size: 15px;
}

.milestone .progress{
	font-family: 'Roboto Slab';
	font-size: 14px;
	color: var(--color-4);
	display: grid;
	justify-content: right;
	align-items: center;
}

.milestone .donut{
	height: 100%;
}

.milestone .details{
	padding: 10px;
}

.milestone-title{
	font-weight: 600;
}

.milestone .date{
	font-family: 'Muli';
	font-size: 10px;
	font-weight: 500;
	color: var(--color-1);
}

.milestone .due.date{
	color: var(--color-1);
	font-weight: 600;
}