#stats-page{
	display: block;
	font-family: 'Assistant';
	position: relative;
}

#stats-page .header{
	font-family: 'Assistant';
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.5px;
	padding-bottom: 10px;
}

#stats-page .subheader{
	font-family: 'Poppins';
	font-size: 0.75em;
	font-weight: 600;
}

#row-1, #row-2{
	padding-left: 3%;
	padding-right: 3%;
}

#bg{
	position: absolute;
	background: var(--color-1);
	width: 100%;
	height: 35vh;
}

.graph svg{
	width: 100%;
	height: 100%;
}

.graph svg text{
	font-family: 'Poppins';
	font-weight: 600;
}

.graph{ position: relative; }
.graph .title { position: absolute; top: 0; }